<div class="file-drop-zone-wrapper">
    <input class="file-drop-zone-input" title="Kliknij, aby wybrać" type="file" (change)="readFile($event)" accept="*">
    <div class="file-drop-zone">
        <span class="upload-icon material-symbols-outlined">
            upload
        </span>
        <div class="file-drop-zone-text">
            <strong>Kliknij, aby wybrać</strong>
            <span>lub przeciągnij i upuść</span>
        </div>
        <div class="file-drop-zone-additional additional">
            Maks. 10 MB • Jedynie pliki .prn
        </div>
    </div>
</div>