app-section {
    counter-increment: section-counter 1;

    &:last-of-type section {
        border-left-color: transparent;
    }
}

section {
    position: relative;
    padding: 0 4rem 2rem 4rem;
    border-left: 1px solid var(--detail);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &::after {
        content: counter(section-counter);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        width: 4rem;
        height: 4rem;
        border: 1px solid var(--detail);
        border-radius: 9999px;
        background: var(--bg2);
        color: rgb(97, 97, 97);
        font-size: 2rem;
        font-weight: 600;
        display: grid;
        place-content: center;
    }
    &.required>h2::after {
        content: "*";
        font-size: 2rem;
        margin-left: 0.4rem;
        color: rgb(217, 48, 37);
        position: relative;
        bottom: 0.2em;
    }
}